
lab1/BusinessObjects/obj/BusinessObjects.csproj.nuget.dgspec.json
lab1/BusinessObjects/obj/BusinessObjects.csproj.nuget.g.props
lab1/BusinessObjects/obj/rider.project.restore.info
lab1/DataAccess/obj/rider.project.restore.info
lab1/DataAccess/obj/rider.project.restore.info
lab1/ProductManagementAPI/obj/rider.project.restore.info
lab1/Repositories/obj/project.packagespec.json
