
lab1/BusinessObjects/obj/BusinessObjects.csproj.nuget.dgspec.json
lab1/BusinessObjects/obj/BusinessObjects.csproj.nuget.g.props
lab1/BusinessObjects/obj/rider.project.restore.info
lab1/DataAccess/obj/rider.project.restore.info
lab1/DataAccess/obj/rider.project.restore.info
lab1/ProductManagementAPI/obj/rider.project.restore.info
lab1/Repositories/obj/project.packagespec.json
lab1/BusinessObjects/obj/BusinessObjects.csproj.nuget.dgspec.json
lab1/BusinessObjects/obj/BusinessObjects.csproj.nuget.g.props
lab1/BusinessObjects/obj/Debug/net6.0/BusinessObjects.assets.cache
lab1/BusinessObjects/obj/project.assets.json
lab1/BusinessObjects/obj/project.nuget.cache
lab1/BusinessObjects/obj/project.packagespec.json
lab1/BusinessObjects/obj/rider.project.restore.info
lab1/DataAccess/obj/DataAccess.csproj.nuget.dgspec.json
lab1/DataAccess/obj/DataAccess.csproj.nuget.g.props
lab1/DataAccess/obj/DataAccess.csproj.nuget.g.targets
lab1/DataAccess/obj/Debug/net6.0/DataAccess.assets.cache
lab1/DataAccess/obj/Debug/net6.0/DataAccess.csproj.AssemblyReference.cache
lab1/DataAccess/obj/rider.project.restore.info
lab1/DataAccess/obj/project.packagespec.json
lab1/DataAccess/obj/project.nuget.cache
lab1/DataAccess/obj/project.assets.json
lab1/DataAccess/obj/project.assets.json
lab1/DataAccess/obj/project.nuget.cache
lab1/DataAccess/obj/project.packagespec.json
lab1/DataAccess/obj/rider.project.restore.info
*.json
